<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TreeSampling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ml-practice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test_least_square.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_linear_regression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_logistic_regression.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B31421581BF9025000A41EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36EF0CB1BE6EFA80090CF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B36EF1331BEE8D0B0090CF3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C96DE11BE6931400751BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3C96DF41BE6C21500751BC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
